.add-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0.80turn,#772AAE, #E3B732);
}

.forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88%;
    height: 78%;
    border-radius: 48px;
    background: rgba(230, 230, 230, 0.3);
    padding: 2%;
    gap: 6%;
}

h1 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

.campos-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
}

.inputs-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.left {
    width: 60%;
    align-items: flex-start;
}

.right {
    width: 25%;
}